/* мои работы */

.portfolio {
	font-family: 'fira_sansbook';
	background: #eff3f7;
	border-radius: 4px; 
  padding: 0 0 260px 0;
}

/* заголовок */
.portfolio-title {
	display: inline-block;
  margin-bottom: 34px;
	padding: 10px 22px 12px 23px;

 	font-size: 27px;
 	color: #3ba8c0;
	border-bottom: 2px solid #3ba8c0;
}

/* список работ */
.portfolio-list {
	margin: 0;
	padding: 0;
  list-style: none;
  font-size: 0;
}

/* элементы списка */
.portfolio-item {
  display: inline-block;
  width: 184px;
	margin: 0px 15px 27px 15px;
  
	text-align: center;
  vertical-align: top;
}
/* блок с сайтом на фоне */
.site-item {
  width: 180px;
  height: 125px;
  margin-bottom: 10px;

  border-radius: 4px;
  background: url(../img/portfolio.jpg) 0 0 no-repeat;
  border: 2px solid #3ba8c0;
  overflow: hidden;
}

/* отступы слева у первых */
.portfolio-item:nth-child(3n-2) {
  margin-left: 19px;
}
/* отступы справа у последних */
.portfolio-item:nth-child(4n-1) {
  margin-right: 19px;
}

/* блок для появления ссылки */
.site-link {
  width: 180px;
  height: 125px;
  display: block;

  background: rgba(75, 90, 120, 0);
  transition: background linear 0.1s;
}
/* сама ссылка на работу-сайт */
.site-name {
  display: inline-block;
  padding: 0 5px;
  position: relative;
  top: 55px;
  font-size: 0px;

  text-decoration: none;
  color: #eff3f7;
  border-radius: 4px;
  transition: all 0.5s;
}
/* изменение прозрачности фона блока при появлении  */
.site-item:hover .site-link {
  background: rgba(75, 90, 120, 0.7);
}
/* появление самой ссылки */
.site-item:hover .site-name {
  font-size: 16px;
  border: 2px solid #eff3f7;
}
/* стиль подписи url под картинкой */
.site-url {
  display: block;
  margin-bottom: 15px;
  padding: 0;

  text-decoration: none;
  font-family: 'fira_sanslight_italic';
  font-size: 13px;
  line-height: 100%;
}
/* стиль подписи информация под картинкой */
.site-info {
  margin-bottom: 15px;
  padding: 0 5px;

  font-size: 15px;
  line-height: 100%;
  color: #4a545d;
}
/* блок новый проект */
.site-item-new {
  width: 180px;
  height: 125px;
  
  margin-bottom: 0px;
  border-radius: 4px;
  background: #edf8fc url(../img/newproject.png) center 35px no-repeat;
  border: 2px dashed #3ba8c0;
}
/* стиль ссылки в блоке новый проект */
.site-name-new {
  display: inline-block;
  width: 85%;
  height: 85%;
  padding-top: 77px;

  text-decoration: none;
  color: #3ba8c0;
  font-size: 13px;
}


/* ПОПАП */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 362px;
  min-height: 110px;
/*  margin-left: -181px;
  margin-top: -250px;*/
  /*overflow: hidden;*/
  z-index: 2000;
  background: #eff3f7;
   /* скругление */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* тень */
  -webkit-box-shadow: 0px 6px 13px 0 rgba(13, 16, 7, 0.35);
  -moz-box-shadow: 0px 6px 13px 0 rgba(13, 16, 7, 0.35);
  box-shadow: 0px 6px 13px 0 rgba(13, 16, 7, 0.35);
}
.popup-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgb(129, 142, 155);
}
.popup-newproject-success {
  display: none;
}

/* заголовок формы */
.form-newproject-title {
  margin: 0 0 20px 0;
  padding: 10px;
  
  font-family: 'fira_sansregular';
  font-size: 25px;
  color: #ffffff;
  background: #48cbe8;
  -webkit-box-shadow: 0 9px 0 0 #67dffa;
  -moz-box-shadow: 0 9px 0 0 #67dffa;
  box-shadow: 0 9px 0 0 #67dffa ;
}
/* кнопка закрыть попап */
.popup-close {
  width: 25px;
  height: 25px;
  float: right;
  background: url(../img/close.png) 50% 50% no-repeat;
}

/* стиль формы добавление проекта */
.form-newproject {
  width: 320px;
  margin: 0 auto 20px;
}

/* контейнер: лабел + сам инпут */
.input-box {
  width: 322px;
  margin: 0;
  padding: 0;
}

/* стиль надписи */
.label-text {
  display: block;
  margin-bottom: 8px;
  
  font-family: 'fira_sansbook';
  font-size: 17px;
  color: #959aa8;
  /* background: red; */ 
}

/* сам инпут */
.input-text-project {
  width: 300px;
  margin-bottom: 10px;
  padding: 11px 10px;
  
  font-family:'fira_sanslight';
  font-size: 13px;
  color: #48cbe8;
  
  background: #fbfcfd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;  
  border: 1px solid #48cbe8;
}
textarea:focus, input:focus{
  outline: none;
}

/* плейсхолдеры */
.input-text::-webkit-input-placeholder {
  color: #48cbe8; /* Chrome, Safari, Opera */
}
.input-text::-moz-placeholder {
  color: #48cbe8; /* Firefox */
}
.input-text:-ms-input-placeholder { 
  color: #48cbe8; /* IE */
}
/* добавление картинки проекта */

/* обёртка инпута добавить изображение */
.file{
  position:relative;
  width:322px;
}
/* поддельный инпут для загрузки файла */
.upload {
  width: 255px;
}
/* сама кнопка добавить изображение */
.button-upload {
  display: block;
  width: 52px;
  height: 43px;
  margin-left: -4px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/img-file.png) center center no-repeat;
  background-color: #48cbe8;
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
  z-index: 5;
  border: 1px solid #48cbe8;
}
/*  */
.upload-error {
  border: 1px solid #f97e76;
}
/* сам инпут с типом файл */
.file .upload-file {
    width:52px;
    position:absolute;
    top: 0;
    right: 0;
    margin: -1px;
    padding: 11px 0;
    /*clip: rect(0, 0 , 0, 0);*/
    z-index: 6;
    overflow: hidden;
    cursor:pointer;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); 
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; 
}






.submit {
  text-align: center;
}
.input-button {
  width: 140px;
  height: 31px;
  
  font-family: firasans book;
  font-size: 19px;
  color: #fff;
  border-radius: 5px;
  border: none;
}
.submit .input-button {
  background: #48cbe8;
  box-shadow: inset 0 -1px 0 0 #44bfdb;
  box-shadow: 0 2px 0 0 #3ba8c0;
}


/*  end ПОПАП */
